### Pyspark Dataframe 1


- PySpark Dataframe
- Reading The Dataset
- Checking the Datatypes of the Column(Schema)
- Selecting Columns And Indexing
- Check Describe option similar to Pandas
- Adding Columns
- Dropping columns
- Renaming Columns

dataframe== kind of data structure

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [3]:
spark

In [4]:
#read the dataset - Option 1

spark.read.option('header','true').csv('pysparke2.csv')

DataFrame[Name: string, Age: string, Experience: string]

In [8]:
df_pyspark= spark.read.option('header','true').csv('pysparke2.csv')

df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Lahiru| 27|         9|
|Nimala| 23|         6|
| Kasun| 25|         7|
+------+---+----------+

In [9]:
#check schema

df_pyspark.printSchema()   #all are show as string!!!

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [10]:
df_pyspark= spark.read.option('header','true').csv('pysparke2.csv',inferSchema=True)
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [11]:
#read the dataset - Option 2

df_pyspark=spark.read.csv('pysparke2.csv',header=True,inferSchema=True)
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Lahiru| 27|         9|
|Nimala| 23|         6|
| Kasun| 25|         7|
+------+---+----------+

In [12]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [13]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [15]:
#column names

df_pyspark.columns

['Name', 'Age', 'Experience']

In [16]:
df_pyspark.head(3)

[Row(Name='Lahiru', Age=27, Experience=9),
 Row(Name='Nimala', Age=23, Experience=6),
 Row(Name='Kasun', Age=25, Experience=7)]

In [17]:
#select 1 column

df_pyspark.show()
df_pyspark.select('Name').show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Lahiru| 27|         9|
|Nimala| 23|         6|
| Kasun| 25|         7|
+------+---+----------+

+------+
|  Name|
+------+
|Lahiru|
|Nimala|
| Kasun|
+------+

In [18]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [19]:
#select multiple columns

df_pyspark.select(['Name','Experience'])

DataFrame[Name: string, Experience: int]

In [20]:
df_pyspark.select(['Name','Experience']).show()

+------+----------+
|  Name|Experience|
+------+----------+
|Lahiru|         9|
|Nimala|         6|
| Kasun|         7|
+------+----------+

In [21]:
df_pyspark['Name']

Column<'Name'>

In [23]:
#check data types

df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [24]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [25]:
df_pyspark.describe().show()

+-------+------+----+------------------+
|summary|  Name| Age|        Experience|
+-------+------+----+------------------+
|  count|     3|   3|                 3|
|   mean|  null|25.0| 7.333333333333333|
| stddev|  null| 2.0|1.5275252316519468|
|    min| Kasun|  23|                 6|
|    max|Nimala|  27|                 9|
+-------+------+----+------------------+

In [31]:
#add column

df_pyspark_2=df_pyspark.withColumn('Experience After 2 years',df_pyspark['Experience']+2)
df_pyspark_2

DataFrame[Name: string, Age: int, Experience: int, Experience After 2 years: int]

In [32]:
df_pyspark_2.show()

+------+---+----------+------------------------+
|  Name|Age|Experience|Experience After 2 years|
+------+---+----------+------------------------+
|Lahiru| 27|         9|                      11|
|Nimala| 23|         6|                       8|
| Kasun| 25|         7|                       9|
+------+---+----------+------------------------+

In [33]:
#drop column

df_pyspark_3=df_pyspark_2.drop('Experience After 2 years')

In [34]:
df_pyspark_3.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Lahiru| 27|         9|
|Nimala| 23|         6|
| Kasun| 25|         7|
+------+---+----------+

In [35]:
#rename the columns

df_pyspark_3.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|  Lahiru| 27|         9|
|  Nimala| 23|         6|
|   Kasun| 25|         7|
+--------+---+----------+